ion-view.show(view-title="{{ ::show.name }}")
  ion-content
    .padding
      h1 {{ ::show.name }}
      p {{ ::show.fromYear }}
      p {{ ::show.seasons.length }} season(s)
      p {{ ::show.description }}
    ion-list
      ion-item.item-icon-right(
        ng-repeat="season in show.seasons | orderBy:'number' track by season.number",
        ui-sref=".season({ seasonNumber: season.number })")
        strong Season {{ ::season.number }}
        i.icon.ion-ios-arrow-forward
